/*普通按钮*/
.edui-btn-toolbar .edui-btn{
    position: relative;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom:1;
    width:auto;
    margin: 0 1px;
    padding:1px;
    border:none;
    background: none;
}
.edui-btn-toolbar .edui-btn .edui-icon{
    width: 20px;
    height: 20px;
    margin: 0;
    padding:0;
    background-repeat: no-repeat;
    background-image: url(../images/icons.png);
    background-image: url(../images/icons.gif) \9;
}

/*状态反射*/
.edui-btn-toolbar .edui-btn.hover,
.edui-btn-toolbar .edui-btn.active{
    background-color: #d5e1f2;
    padding: 0;
    border: 1px solid #a3bde3;
    _z-index: 1;
}
.edui-btn-toolbar .edui-btn.disabled{
    opacity: 0.3;
    filter: alpha(opacity = 30);
}