/*普通按钮*/
.edui-btn-toolbar{
    position: relative;
    margin: 5px;
}
.edui-btn-toolbar .btn{
    display: inline-block ;*display:inline;zoom:1;
    position: relative;
    width:auto;
    margin: 0;
    padding:1px;
    border:none;
    background: none;
}
.edui-btn-toolbar .btn .edui-icon{
    width: 20px;
    height: 20px;
    margin: 0;
    padding:0;
    background-repeat: no-repeat;
    background-image: url(../images/icons.png);
    background-image: url(../images/icons.gif) \9;
}

/*状态反射*/
.edui-btn-toolbar .btn:hover,
.edui-btn-toolbar .btn.hover,
.edui-btn-toolbar .btn.active{
    background-color: #fff5d4;
    padding: 0;
    border: 1px solid #dcac6c;
}

.edui-btn-toolbar .btn.disabled{
    opacity: 0.3;
    filter: alpha(opacity = 30);
}