.edui-btn-toolbar .edui-btn .edui-icon-source {
    background-position:-260px -0px;
}
.edui-btn-toolbar .edui-btn .edui-icon-undo {
    background-position: -160px 0;
}
.edui-btn-toolbar .edui-btn .edui-icon-redo {
    background-position: -100px 0;
}
.edui-btn-toolbar  .edui-btn .edui-icon-bold{
    background-position: 0 0;
}
.edui-btn-toolbar  .edui-btn .edui-icon-italic {
    background-position: -60px 0;
}
.edui-btn-toolbar  .edui-btn .edui-icon-underline  {
    background-position: -140px 0
}
.edui-btn-toolbar .edui-btn .edui-icon-strikethrough {
    background-position: -120px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-superscript {
    background-position: -620px 0;
}
.edui-btn-toolbar .edui-btn .edui-icon-subscript {
    background-position:  -600px 0;
}
.edui-btn-toolbar .edui-btn .edui-icon-font, .edui-btn-toolbar .edui-btn .edui-icon-forecolor {
    background-position: -720px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-backcolor {
    background-position: -760px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-insertorderedlist {
    background-position: -80px 0;
}
.edui-btn-toolbar .edui-btn .edui-icon-insertunorderedlist {
    background-position:   -20px 0;
}
.edui-btn-toolbar .edui-btn .edui-icon-selectall {
    background-position: -400px -20px;
}
.edui-btn-toolbar .edui-btn .edui-icon-cleardoc {
    background-position: -520px 0;
}
.edui-btn-toolbar .edui-btn .edui-icon-paragraph {
    background-position: -140px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-fontfamily {
    background-position: -140px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-fontsize {
    background-position: -140px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-justifyleft {
    background-position: -460px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-justifycenter {
    background-position: -420px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-justifyright {
    background-position:-480px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-justifyjustify {
    background-position: -440px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-link {
    background-position: -500px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-unlink {
    background-position: -640px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-image {
    background-position: -380px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-emotion {
    background-position: -60px -20px;
}
.edui-btn-toolbar .edui-btn .edui-icon-insertvideo {
    background-position: -320px -20px;
}

.edui-btn-toolbar .edui-btn .edui-icon-map {
    background-position:  -40px -40px;
}

.edui-btn-toolbar .edui-btn .edui-icon-gmap {
    background-position:  -260px -40px;
}
.edui-btn-toolbar .edui-btn .edui-icon-horizontal {
    background-position: -360px 0;
}

.edui-btn-toolbar .edui-btn .edui-icon-print {
    background-position: -440px -20px;
}
.edui-btn-toolbar .edui-btn .edui-icon-preview {
    background-position: -420px -20px;
}

.edui-btn-toolbar .edui-btn-fullscreen{
    float:right;
}
.edui-btn-toolbar .edui-btn .edui-icon-fullscreen {
    background-position: -100px -20px;
}

.edui-btn-toolbar .edui-btn .edui-icon-removeformat {
    background-position: -580px 0;
}
