.edui-btn-toolbar .edui-combobox{
    border: 1px solid #CCC;
    padding:0;
    margin:0 2px;
    line-height: 20px;
}
.edui-combobox .edui-button-label{
    position: relative;
    display: inline-block !important;
    vertical-align: top;
    *display: inline !important;
    *zoom:1;
    width:40px;
    height:20px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    text-align: center;
}
.edui-combobox  .edui-button-spacing{
    position: relative;
    display: inline-block !important;
    vertical-align: top;
    *display: inline !important;
    *zoom:1;
    height:20px;
    margin: 0;
    padding:0 3px;
}
.edui-combobox .caret{
    position: relative;
    display: inline-block !important;
    vertical-align: top;
    *display: inline !important;
    *zoom:1;
    height:20px;
    width: 12px;
    margin: 0;
    padding: 0;
    background: url(../images/icons.png) -741px 0;
    _background: url(../images/icons.gif) -741px 0;
}
