.edui-modal {
    position: fixed;
    top: 10%;
    left: 50%;
    width: auto;
    margin-left: -280px;
    border: 1px solid #999;
    background-color: #ffffff;
    outline: 0;
}
.edui-modal-header {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}
.edui-modal-header .edui-close {
    float: right;
    width:20px;
    height:20px;
    margin-top: 2px;
    padding: 0;
    border: 0;
    background-image: url("../images/icons-all.gif");
    background-position: 0 -59px;
    cursor: pointer;
}
.edui-modal-header .edui-close.hover {
    background-position: 0 -89px;
}
.edui-modal-header .edui-title {
    margin: 0;
    line-height: 25px;
    font-size: 20px;
}
.edui-modal-body {
    position: relative;
    max-height: 400px;
    font-size: 12px;
    overflow-y: auto;
}
.edui-modal-footer {
    float: right;
    padding: 5px 15px 15px;
    overflow: hidden;
}
.edui-modal-footer .edui-btn {
    float: left;
    height: 24px;
    width: 96px;
    margin: 0 10px;
    background-image: url("../images/icons-all.gif") ;
    background-position:0 0;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    cursor: default;
}
.edui-modal-footer .edui-btn.hover{
    background-position:0 -30px;
}
.edui-modal-backdrop{
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
}