.edui-modal {
    position: fixed;
    _position: absolute;
    top: 10%;
    left: 50%;
    border: 1px solid #acacac;
    box-shadow: 2px 2px 5px #d3d6da;
    background-color: #ffffff;
    outline: 0;
}
.edui-modal-header {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}
.edui-modal-header .edui-close {
    float: right;
    width:20px;
    height:20px;
    margin-top: 2px;
    padding: 1px;
    border: 0;
    background: url("../images/close.png") no-repeat center center;
    cursor: pointer;
}
.edui-modal-header .edui-close.hover {
    background-color: #d5e1f2;
    padding:0;
    border: 1px solid #a3bde3;
}
.edui-modal-header .edui-title {
    margin: 0;
    line-height: 25px;
    font-size: 20px;
}
.edui-modal-body {
    position: relative;
    max-height: 400px;
    font-size: 12px;
    overflow-y: auto;
}
.edui-modal-footer {
    float: right;
    padding: 5px 15px 15px;
    overflow: hidden;
}
.edui-modal-footer .edui-btn {
    float: left;
    height: 24px;
    width: 96px;
    margin: 0 10px;
    background-color: #ffffff;
    padding: 0;
    border: 1px solid #ababab;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}
.edui-modal-footer .edui-btn.hover{
    background-color: #d5e1f2;
    border: 1px solid #a3bde3;
}
.edui-modal-backdrop{
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #c6c6c6;
}

.edui-modal .edui-modal-tip {
    color: red;
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 30px;
    line-height: 30px;
    display: none;
}