.edui-modal {
    position: fixed;
    top: 10%;
    left: 50%;
    width: auto;
    margin-left: -280px;
    border: 1px solid #999;
    background-color: #ffffff;
    outline: 0;
}
.edui-modal-header {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}
.edui-modal-header .edui-close {
    float: right;
    width:20px;
    height:20px;
    margin-top: 2px;
    padding: 0;
    border: 0;
    background-image: url("../images/icons-all.gif");
    background-position: 0 -59px;
    cursor: pointer;
}
.edui-modal-header .edui-close.hover {
    background-position: 0 -89px;
}
.edui-modal-header .edui-title {
    margin: 0;
    line-height: 25px;
    font-size: 20px;
}
.edui-modal-body {
    position: relative;
    max-height: 400px;
    padding: 15px;
    font-size: 12px;
    overflow-y: auto;
}
.edui-modal-footer {
    float: right;
    padding: 14px 15px 15px;
    font-size: 12px;
    overflow: hidden;
}
.edui-modal-footer .edui-btn {
    float: left;
    margin: 0 10px;
}