.edui-container{
    border: 1px solid #e1e1e1;
}
.edui-container .edui-toolbar{
    border-bottom: 1px solid #e1e1e1;
    background-color: #fff;
    position: relative;
}
.edui-toolbar .edui-btn-toolbar{
    position: relative;
    padding: 5px;
}
.edui-editor-body{
    position: relative;
}