.edui-container{
    position: relative;
    border: 1px solid #d4d4d4;
    box-shadow: 2px 2px 5px #d3d6da;
}
.edui-container .edui-toolbar{
    position: relative;
    width:auto;
    border-bottom: 1px solid #e1e1e1;
    background-color: #fafafa;
}
.edui-toolbar .edui-btn-toolbar{
    position: relative;
    padding: 5px;
}
.edui-editor-body{
    position: relative;
}
.edui-body-container{
    position: relative;
}