.edui-popup{
    display: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #d3d6da;
}
.edui-popup .edui-popup-caret{
    width: 21px;
    height: 11px;
}
.edui-popup .edui-popup-caret.up{
    background:url('../images/caret.png') no-repeat 0 0;
}
.edui-popup .edui-popup-caret.down{
    background:url('../images/caret.png') no-repeat 0 0;
}

