.edui-btn-toolbar .edui-splitbutton{
    position: relative;
    display: inline-block ;
    vertical-align: top;
    *display: inline ;
    *zoom:1;
    margin:0 2px;
}
.edui-splitbutton .edui-btn{
    margin: 0;
}
.edui-splitbutton .edui-caret{
    position: relative;
    display: inline-block ;
    vertical-align: top;
    *display: inline ;
    *zoom:1;
    width: 8px;
    height: 20px;
    background: url(../images/icons.png) -741px 0;
    _background: url(../images/icons.gif) -741px 0;
}

.edui-btn-toolbar .edui-splitbutton,
.edui-btn-toolbar .edui-splitbutton{
    _border: none;
}

/*状态反射*/
.edui-btn-toolbar .edui-splitbutton.hover .edui-btn{
    background-color: #d5e1f2;
}

.edui-btn-toolbar .edui-splitbutton.disabled{
    opacity: 0.3;
    filter: alpha(opacity = 30);
}

