.edui-btn-toolbar .edui-splitbutton{
   display: inline-block;*display:inline;zoom:1;
    position: relative;
    margin: 2px;
    border: 1px solid #ccc;
    width:40px;
}
.edui-splitbutton .btn{
}
.edui-splitbutton .dropdown-toggle{
    width:9px;
    height:20px;
}
.edui-splitbutton .caret{
   display: inline-block;*display:inline;zoom:1;
    width: 9px;
    height: 100%;
    background: url(../images/icons.png) -741px 0;
    _background: url(../images/icons.gif) -741px 0;
}
.edui-splitbutton .edui-popup{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
}
.edui-btn-toolbar .edui-splitbutton:hover,
.edui-btn-toolbar .edui-splitbutton.hover
{
    background-color: #fff5d4;
    padding: 0;
    border: 1px solid #dcac6c;
}

.edui-btn-toolbar .edui-splitbutton .btn:hover,
.edui-btn-toolbar .edui-splitbutton .btn.hover
{
    background-color: transparent;
    padding:0;
    border: 1px solid transparent;
}