.edui-nav {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
    border-bottom: 1px solid #ddd;
}
.edui-tab-content {
    overflow: auto;
}
.edui-nav-tabs li {
    margin-bottom: -1px;
}
.edui-nav-tabs li a{
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    color: #0088cc;
    text-decoration: none;
}
.edui-nav-tabs.active  a,
.edui-nav-tab.hover a{
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}