.edui-btn-toolbar .tooltip{
    position: absolute;
    padding: 5px 0;
    display: none;
    z-index: 999;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.tooltip .tooltip-arrow{
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    border-color: transparent;
    border-style: solid;
    border-bottom-color: #000000;
    border-width: 0 5px 5px;
}
.tooltip .tooltip-inner{
    padding: 6px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    background-color: #000000;
    white-space: nowrap;
}